body{
    background-color: lightgray;
    font-family: Verdana;
    max-width: 80%;
    margin: auto;
}

#tittle, .subtittle, .post_tittle{
    color:rgb(49, 49, 49);

}
#tittle{
    font-size: 40px;
    text-transform: uppercase;
}
a {
    text-decoration: underline;
    color: blue;
}
.post_tittle{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-top: 15px;
    
}
.post{
    background-color: white;
    padding: 15px;
    border: 3px dashed black;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post_content{
    margin: 0px;
    margin-bottom: 15px;
    text-align: justify;
}
.post_image{
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
    width: 100%;
}
.contacts_list {
    list-style-type: none;
    margin: 0px;
    padding-left: 15px;
}